<ul class="nav-menu" style="">
    <li class="nav-item"><a href="#what-is-olive-tree-sb">About</a></li>
    <li class="nav-item"><a href="#whats-going-on">What's going on</a></li>
    <li class="nav-item"><a href="#palestine-101-introductory-resources">Introductory Resources</a></li>
    <li class="nav-item"><a href="#further-resources">Further Reading</a></li>
</ul>
<ul class="nav-menu-small" style="">
    <li class="nav-item-small"><a href="#basic-reading-lists">Reading lists</a></li>
    <li class="nav-item-small"><a href="#practical-resources-for-taking-action">Practical resources</a></li>
    <li class="nav-item-small"><a href="#poetry-and-ltierature">Poetry and literature</a></li>
    <li class="nav-item-small"><a href="#visual-resources">Visual resources</a></li>
    <li class="nav-item-small"><a href="#teach-in-videos">Teach-ins</a></li
    >
    <li class="nav-item-small"><a href="#legal-resources">Legal resources</a></li>
    <li class="nav-item-small"><a href="#resources-on-the-boycott-divest-sanction-movement">BDS</a></li>
    <li class="nav-item-small"><a href="#useful-social-media-accounts-to-follow">Social Media</a></li>
    <li class="nav-item-small"><a href="#news-organizations">News Orgs</a></li>
</ul>


<div class="holder" style="margin-top: 1rem;"> 
    <div class="ellipse"></div>
    <div class="ellipse ellipse2"></div>
</div>