// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid #cf2e2e;
}

a:visited {
  color: #464646;
}

a:hover, a:focus {
  color: #cf2e2e;
}
